menu "Homer1 Configuration"

    config MY_WIFI_SSID
        string "WiFi SSID"
        default "some_ssid"
        help
            Wifi SSID

    config MY_WIFI_PASSWORD
        string "WiFi Password"
        default "some_password"
        help
            Wifi Password

    config MY_INFLUXDB_TOKEN
        string "InfluxDB token"
        default "my_token"
        help
            InfluxDB Token

    config MY_INFLUXDB_URL
        string "InfluxDB URL"
        default "my_url"
        help
            InfluxDB URL

    config MY_INFLUXDB_ORG
        string "InfluxDB org"
        default "my_org"
        help
            InfluxDB org

    config MY_INFLUXDB_BUCKET
        string "InfluxDB bucket"
        default "my_bucket"
        help
            InfluxDB bucket


endmenu

