menu "Homer1 Configuration"

    config MY_WIFI_ENABLED
        bool "WiFi enabled"
        default y
        help
            Whether if wifi is enabled. Affects Prometheus and InfluxDB.

    config MY_WIFI_SSID
        string "WiFi SSID"
        default ""
        help
            Wifi SSID.

    config MY_WIFI_PASSWORD
        string "WiFi password"
        default ""
        help
            Wifi password.

    config MY_INFLUXDB_TOKEN
        string "InfluxDB token"
        default ""
        help
            InfluxDB token.

    config MY_INFLUXDB_URL
        string "InfluxDB URL"
        default ""
        help
            InfluxDB URL. Leave empty to disable.

    config MY_INFLUXDB_ORG
        string "InfluxDB org"
        default "homer1"
        help
            InfluxDB org.

    config MY_INFLUXDB_BUCKET
        string "InfluxDB bucket"
        default "homer1"
        help
            InfluxDB bucket.

    config MY_PROMETHEUS_PORT
        int "Prometheus port"
        default 80
        help
            Port to serve prometheus metrics on. Zero to disable.


    config MY_SENSOR_ENABLED_SHT3X
        bool "SHT3X enabled"
        default y
        help
            Whether if SHT3X sensor is enabled or not.

    config MY_SENSOR_ENABLED_S8
        bool "S8 enabled"
        default y
        help
            Whether if S8 sensor is enabled or not.

    config MY_SENSOR_ENABLED_BMP180
        bool "BMP180 enabled"
        default y
        help
            Whether if BMP180 sensor is enabled or not.

    config MY_SENSOR_ENABLED_PMS5003
        bool "PMS5003 enabled"
        default y
        help
            Whether if PMS5003 sensor is enabled or not.

endmenu

