menu "Homer1 Configuration"

    config MY_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            Wifi SSID

    config MY_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            Wifi Password

endmenu

